<!DOCTYPE html>
<html>
<head>
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="//instagramstatic-a.akamaihd.net/h1/images/ico/apple-touch-icon-76x76-precomposed.png/932e4d9af891.png">
  <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <nav>
    <div class="row">
      <div class = "col-lg-6 col-lg-offset-3">
        <div class="row">
          <div class="nav_wrapper">
            
            <div class="col-xs-6">
              <span class="pull-left brand"><%= link_to 'Share Your Photos Online-Instapost', root_path %></span>
            </div>

            <div class="col-xs-6">
              <% if user_signed_in? %>
                <span class="nav_links pull-right"><%= link_to 'New Post', new_post_path %>
                <span class="nav_links pull-right"><%= link_to 'Edit Settings', edit_user_registration_path %>
                <span class="nav_links pull-right"><%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
              <% else %>
                <span class="nav_links pull-right"><%= link_to 'Sign Up', new_user_registration_path %>
                <span class="nav_links pull-right"><%= link_to 'Log In', new_user_session_path %>
              <% end %>
            </div>
      
          </div>
        </div>
      </div>
    </div>
  </nav>   

<%= yield %>

</body>
</html>
